<launch>
  <node pkg="ros_start" name="joy_stick" type="joy_stick.py"/>
  <node pkg="rosserial_python" name="motor" type="serial_node.py">
    <param name="port" type="string" value="/dev/ttyUSB0"/>
  </node>
  <node pkg="rosserial_python" name="hand" type="serial_node.py">
    <param name="port" type="string" value="/dev/ttyUSB1"/>
  </node>
</launch>
